@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Patua+One');

:root {
  --black: black;
  --lt-grey: #eee;
  --med-grey: #aaa;
  --dk-grey: #444;
  --hover: #55b8fe;
  --warning: red;
  --numbers: #ccc;
}

body {
  font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
	font-size: 12pt;
	font-weight: 300;
  margin: 0;
  padding: 0;
  /* user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; */
}

h1 {
	font-family: 'Patua One', Georgia, serif;
	font-size: 30pt;
	font-weight: 400;
}

#card {
  font-family: 'Lusitana', 'Garamond', 'Georgia', serif;
  margin: 20px 30px 0 30px;
  padding: 15px 25px;
  min-width: 300px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--lt-grey);
  border-radius: 8px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.1);
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: 400px;
	margin: 20px auto;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}
